*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

@font-face{
    src: url(fonts/Marvel-Regular.ttf);
    font-family: nos;
  }

h1, h2, h3, h4, h5, h6{
    font-family: trajan-pro-3, serif;
} 

p{
    font-family: nos;
    font-size: 20px;
}

nav{
    background: #333333;
}

nav img{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    justify-content: flex-start;
}

nav ul{
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding-right: 40px;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Marvel', sans-serif;
    text-transform: uppercase;
    /* width: 100px; */
}

nav a:hover{
    color: #05ff8f;
}

@media screen and (min-width: 768px) {
    
    nav{
        display: flex;
        justify-content: space-between;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.intro{
    padding: 80px;
    margin-bottom: 0;
    text-align: left;
    background-image: radial-gradient(circle at center,#05ff8f 0%,#12876f 100%)!important;
    color: white;
    font-family: trajan-pro-3, serif;
    display: flex;
    justify-content: space-between;
}

.intro-content{
    font-size: 30px;
    width: 600px;
}

.intro p{
    padding-top: 20px;
    letter-spacing: .05em;
    color: white;
}

hr{
    height: 2px;
    background-color: white;
    width: 80px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.intro img{
    padding-top: 20px;
}

.intro-image{
    width: 491px;
    margin-bottom: -120px;
}

.postcards{
    display: flex;
    /* padding-top:200px; */
    background-color: #eee;
}

.postcards img{
    width: 300px;
}

.postcards li{
    background-color: white;
    width: 300px;
    justify-content: space-between;
    margin-top: 60px;
}

.postcards ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 120px;
    padding-right: 120px;
    margin: 90px;
}

.postcards h1{
    font-size: 22px;
    color: #12876f;
    padding: 10px;
}

.postcards a{
    text-decoration: none;
    color: #12876f;
}

.postcards h4{
    font-size: 14px;
    font-family: 'Marvel', sans-serif;
    font-weight: 400;
    color: #999999;
    padding-bottom: 10px;
    padding-top: 10px;
    padding: 10px;
}

.postcards p{
    color: #555;
    padding: 10px;
}

.about-container{
    display: flex;
}
.about-left{
    width: 600px;
    padding: 90px;

}

.about-left h3{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.about-left p{
    line-height: 1.5em;
    padding-top: 50px;
}

.about-container img{
    width: 491px;
    padding-top: 100px;
}

.graphic-head{
    display: flex;
}

.graphic-content{
    padding: 90px;
    width: 600px;
}

.graphic-head img{
    width: 600px;
    padding: 90px;
}

.graphic-head h2{
    font-size: 48px;
    color: #12876f;
}

.graphic-head h3{
    font-family: nos;
    letter-spacing: .2em;
    padding-top: 10px;
    padding-bottom: 20px;
}

.graphic-head p{
    font-family: nos;
    padding-bottom: 40px;
}

.button-4{
    width:184px;
    height:60px;
    border:4px solid #333333;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin-top: 20px;
  
  }
.button-4 a{
    font-family: 'Marvel', sans-serif;
    font-size:20px;
    color:white;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
  }

.eff-4{
    width:184px;
    height:52px;
    left:-184px;
    background:#333333;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
  }

.button-4:hover .eff-4{
    left:0;
  }

.button-4:hover a{
    color:#fff;
  }

.btn-1, .btn-2, .btn-3, .btn-4{
      background-color: #12876f;
  }

.post-head{
      padding: 90px;
  }

.post-head h1{
      font-size: 38px;
      font-weight: 100;
  }

.post-head h4{
      padding-top: 10px;
      padding-bottom: 20px;

  }

.post-head img{
      width: 600px;
      padding-bottom: 20px;
  }

.post-head p{
    line-height: 1.5em;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 840px;
    text-align: justify;
}

blockquote{
    border-left: 4px solid red;
    padding-left: 20px;
    line-height: 1.5em;
    text-align: justify;
    width: 800px;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.social-btns{
    padding-top: 20px;
}
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  /* .sidebar{
      border-left: 4px solid black;
      width: 300px;
      justify-content: flex-end;
      padding-left: 20px;
  }

  .sidebar img{
      width: 150px;
  }

  .sidebar h2{

  } */