/* global styles */

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  src: url(fonts/Marvel-Regular.ttf);
  font-family: nos;
}

:root {
  --theme1: rgb(98, 194, 116);
  --theme2: rgb(51, 51, 51);
  --theme3: rgb(255, 255, 255);
  --theme4: rgb(240, 240, 240);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: trajan-pro-3, serif;
}

p {
  font-family: nos;
  font-size: 20px;
}

body {
  width: 100%;
  background: whitesmoke;
}

/* navigation styles start here */

header {
  background: var(--theme2);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  margin: 20px;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  padding-top: 10px;
  left: 12.5%;
  background: var(--theme2);
  width: 75%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  border-top: 3px solid var(--theme1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--theme3);
  text-decoration: none;
  font-size: 1.2rem;
  font-family: nos;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--theme1);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after {
  display: block;
  background: var(--theme3);
  height: 2px;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span:before,
.nav-toggle-label span:after {
  content: "";
  position: absolute;
}

.nav-toggle-label span:before {
  bottom: 7px;
}

.nav-toggle-label span:after {
  top: 7px;
}

@media screen and (max-width: 799px) {
  .logo {
    display: block;
    max-height: 50px;
  }

  .about-img {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    display: block;
    max-height: 50px;
  }
}

@media screen and (min-width: 800px) {
  .logo {
    display: block;
    max-height: 50px;
  }

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr auto minmax();
  }

  .logo {
    grid-column: 1 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: var(--theme1);
    position: absolute;
    top: 1.4em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 981px) {
  main{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  }

  .bio-par p {
    margin: 20px;
  }

  .bio-par {
    width: 50%;
  }

  .bio-img {
    width: 25%;
    margin-top: -240px;
  }

  .intro-content {
    width: 50%;
    padding-left: 90px;
  }
}

/* start of sub-header styling */

.intro {
  padding-top: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  text-align: left;
  background-image: radial-gradient(
    circle at center,
    #05ff8f 0%,
    #12876f 100%
  ) !important;
  display: flex;
  justify-content: space-between;
}

.intro-content {
  font-size: 30px;
  padding-right: 30px;
}

.intro-content h1 {
  color: var(--theme3);
  padding-bottom: 20px;
}

.intro p {
  letter-spacing: 0.05em;
  color: white;
  font-size: 30px;
}

.intro-image {
  width: 50%;
  margin: 20px;
}

/* start of about page styling */

main {
  flex: wrap;
}

.bio-par {
  width: 100%;
}

.bio-par p {
  margin: 20px;
}

.bio-img {
  width: 100%;
}

.bio-par h3 {
  font-size: 24px;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* start of journal styling */

.recent-posts {
  text-align: center;
  padding: 20px;
  background-color: #eee;
  font-size: 24px;
}

.recent-posts h2 {
  font-family: "Trajan-pro-3", serif;
  font-weight: 200;
}

.postcards {
  display: flex;
  background-color: #eee;
}

.postcards img {
  width: 300px;
}

.postcards li {
  background-color: white;
  width: 300px;
  justify-content: space-between;
  margin-top: 60px;
}

.postcards ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 120px;
  padding-right: 120px;
  margin: 90px;
}

.postcards h1 {
  font-size: 22px;
  color: #12876f;
  padding: 10px;
}

.postcards a {
  text-decoration: none;
  color: #12876f;
}

.postcards h4 {
  font-size: 14px;
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  color: #999999;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 10px;
}

.postcards p {
  color: #555;
  padding: 10px;
}

/* start of things styling */

.graphic-head {
  display: flex;
}

.graphic-content {
  padding: 90px;
  width: 600px;
}

.graphic-head img {
  width: 600px;
  padding: 90px;
}

.graphic-head h2 {
  font-size: 48px;
  color: #12876f;
}

.graphic-head h3 {
  font-family: nos;
  letter-spacing: 0.2em;
  padding-top: 10px;
  padding-bottom: 20px;
}

.graphic-head p {
  font-family: nos;
  padding-bottom: 40px;
}

.button-4 {
  width: 184px;
  height: 60px;
  border: 4px solid #333333;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 20px;
}
.button-4 a {
  font-family: "Marvel", sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}

.eff-4 {
  width: 184px;
  height: 52px;
  left: -184px;
  background: #333333;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}

.button-4:hover .eff-4 {
  left: 0;
}

.button-4:hover a {
  color: #fff;
}

.btn-1,
.btn-2,
.btn-3,
.btn-4 {
  background-color: #12876f;
}

/* start of blog post styling */

.post-head {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-right: 120px;
  text-align: center;
  margin-left: 120px;
}

.post-box {
  width: 70%;
  background: white;
  margin-right: 40px;
  padding: 20px;
}

.post-box h1 {
  font-size: 38px;
  font-weight: 100;
}

.post-box h4 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.post-box img {
  width: 100%;
  padding-bottom: 20px;
}

.post-box p {
  line-height: 1.5em;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 840px;
  text-align: justify;
}

blockquote {
  border-left: 4px solid red;
  padding-left: 20px;
  line-height: 1.5em;
  text-align: justify;
  width: 800px;
}

/* start of social media button styling */

.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.social-btns {
  padding-top: 20px;
  text-align: left;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* blog post sidebar styling */

.sidebar-container {
  width: 30%;
  flex-direction: column;
}

.sidebar {
  background: white;
  padding: 20px;
}

.sidebar img {
  margin: 40px;
  width: 140px;
}

.sidebar hr {
  width: 100px;
  color: black;
}

.posts {
  padding-top: 40px;
  margin-top: 40px;
  background: white;
  padding-bottom: 40px;
}

.sidebar-container h4 {
  padding-bottom: 10px;
}

.sidebar-container h5 {
  text-align: left;
  padding-left: 20px;
}

hr {
  height: 2px;
  background-color: black;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.recentpost-img {
  width: 85%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.posts p {
  font-size: 1rem;
  color: #999;
  padding: 20px;
  text-align: left;
}

.search {
  background: white;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.search input {
  width: 240px;
  height: 40px;
  font-size: 1rem;
}

/* start of footer styling */

.design-by {
  background: #333333;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

.design-by a {
  text-decoration: none;
  color: white;
}
